header {
    background-color: #1c3c80;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 1.8rem;
    margin: 0;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
}

.hamburger:hover span {
    background-color: #ffab00;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-menu .nav-link {
    color: white;
    background-color: #ffab00;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}
.nav-menu .nav-link:hover {
    background-color: #ff9100;
}