Options -Indexes
ErrorDocument 404 /404.php
ErrorDocument 403 /404.php
ServerSignature Off



<FilesMatch "(^#.*#|\.(bak|config|sql|fla|psd|ini|log|sh|inc|swp|dist)|~)$">
    Require all denied
</FilesMatch>
